<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、今週の新着"ことぶつ"です。</h1>
      <p>
      【愛】僕はまだ知らない<br>
      </p>
      <p>
        ことぶつえんはこちら<%= @url %>から入れます！</br>
        ちょっとのぞいてみて〜
      </p>
      <p>ラジオも絶賛更新中!</br>
        ことばの意味を考えるユウマシンラジオ</br>
        <%= @url_radio %>
      </p>
  </body>
 </html>
