    <div class="news">
      <% @news = News.order(created_at: :desc).take %>
      <% unless  @news == nil %>
      <p>NEWS</p>
      <ul class="news-list">
        <li>
          <%= link_to("#{@news.title}","#{@news.url}",class:"",:target=>["_blank"]) %>
        </li>
        <li>
          <%= link_to("次回の言葉「#{@news.title2}」") %>
      </li>
        <li>
          <%= link_to("Back Number ▷","/works") %>
        </li>
      </ul>
      <% end %>
    </div>
