    <div class="news">
      <p>NEWS</p>
      <ul class="news-list">
        <li>
          <%= link_to("ユウマシンラジオ#7「失敗」のその先へ","https://radiotalk.jp/talk/61474",class:"",:target=>["_blank"]) %>
        </li>
        <li>
          <%= link_to("次回の言葉「片思い」","/posts/25",class:"") %>
        </li>
        <li>
          <%= link_to("Back Number ▷","/radio") %> 
        </li>
      </ul>
    </div>
