<div class = "main howto-main">
	<div class = "howto-top" >
		<h1>ことぶつえんの使い方</h1>
	</div>

	<div class = "howto-contents">
		<div class = "howto-content">
			<h2>ことばを調べる</h2>
			<p>『あっ、このことばどういう意味だっけ？』</p>
			<p>『あのことばの本当の意味は？』</p>
			<p>きっと新しい気づきがあるでしょう。</p>
			<p><%= link_to("検索","/") %> / <%= link_to("索引","/posts/index_all")%></p>
		</div>

		<div class = "howto-content">
			<h2>ことばの意味を投稿する</h2>
			<p>『こういう意味もあるんじゃない？』</p>
			<p>『こんな意味だったらおもしろいな』</p>
			<p>あなたなりの意味を投稿してみてください。</p>
			<p>誰かの世界を変えるかもしれません。</p>
			<p><%= link_to("索引","/posts/index_all")%><p>
		</div>

		<div class = "howto-content">
			<h2>ことばを投稿する</h2>
			<p>『これってみんなどんな意味で使っているの？』</p>
			<p>『あの言葉の新しい意味を知りたい！』</p>
			<p>意味を知りたいことばを投稿してください。</p>
			<p><%= link_to("ことば投稿","/posts/new") %></p>
		</div>

</div>
