<div class = "main howto-main">
	<div class = "howto-top" >
		<h1>ことぶつえんの使い方</h1>
	</div>

	<div class = "howto-contents">
		<div class = "howto-content">
			<h2>ことばを調べる</h2>
			<p>『あっ、このことばどういう意味だっけ？』</p>
			<p>『あのことばの本当の意味は？』</p>
			<p>調べれば答えがきっと出ます。</p>
			<p><%= link_to("検索","/") %> / <%= link_to("索引","/posts/index")%></p>
		</div>

		<div class = "howto-content">
			<h2>ことばの意味を投稿する</h2><p>『これってこういう意味だったんだ』</p>
			<p>『こんな意味もあるんじゃない？』</p>
			<p>その意味が誰かのことばの見方を<br>変えるかもしれません。</p>
			<p>投稿してください。</p>
			<p><%= link_to("索引","/posts/index")%><p>
		</div>

		<div class = "howto-content">
			<h2>ことばを投稿する</h2>
			<p>『これってみんなどんな意味で使っているの？』</p>
			<p>『あの言葉の新しい意味を知りたい！』</p>
			<p>意味を知りたいことばを投稿してください</p>
			<p><%= link_to("ことば投稿","/posts/new") %></p>
		</div>

</div>
