<div class = "main q-a">
	<div class = "q-a-top" >
		<h1>よくある質問</h1>
	</div>

	<div class = "q-a-contents">
		<div class = "q-a-content">
      <h2 style="color:rgba(104,210,42,1)">Q1</h2>
			<p>口の中にできものができ、</br>
        ズキズキと痛みます。</br>
        食事も喉を通りませんが、</br>
        これは恋でしょうか。</p>
      <h2 style="color:rgba(104,210,42,1)">Answer</h2>
			<p>口内炎です。</p>
			<p>ビタミンをとってください。</p>

		</div>


  		<div class = "q-a-content">
        <h2 style="color:rgba(104,210,42,1)">Q2</h2>
  			<p>ドッ「ジ」ボールなのか、</br>
          ドッ「ヂ」ボールなのか</br>
          気になって眠れません。</br>
          どうすればよいでしょうか。</p>
        <h2 style="color:rgba(104,210,42,1)">Answer</h2>
  			<p>世の中には</p>
  			<p>もっと考えるべきことがあります。</p>
  		</div>

    		<div class = "q-a-content">
          <h2 style="color:rgba(104,210,42,1)">Q3</h2>
    			<p>僕がモテないのは</br>
            間違いなく</br>
            社会がおかしいと思うのですが</br>
            どうでしょうか。</p>
            <h2 style="color:rgba(104,210,42,1)">Answer</h2>
    			<p>そういうところです。</p>
    		</div>


</div>
