<div class = "main howto-main">
	<div class = "howto-top" >
		<h1>よくある質問</h1>
	</div>

	<div class = "howto-contents">
		<div class = "howto-content">
			<h3>Q.口の中にできものができ、</br>
        ズキズキと痛みます。</br>
        食事も喉を通りませんが、</br>
        これは恋でしょうか。</h3>
			<p>A.口内炎です。</p>
			<p>ビタミンをとってください。</p>

		</div>


  		<div class = "howto-content">
  			<h3>Q.ドッ「ジ」ボールなのか、</br>
          ドッ「ヂ」ボールなのか</br>
          気になって眠れません。</br>
          どうすればよいでしょうか。</h3>
  			<p>A.世の中には</p>
  			<p>もっと考えるべきことがあります。</p>

  		</div>

    		<div class = "howto-content">
    			<h3>Q.僕がモテないのは</br>
            間違いなく</br>
            社会がおかしいと思うのですが</br>
            どうでしょうか。</h3>
    			<p>A.そういうところです。</p>

    		</div>


</div>
