<div class = "main radio-page">
	<div class="container">
	<div class = "radio-top" >
		<h1>ユウマシンラジオ</h1>
	</div>

	<div class = "radio-contents">
		<div class = "radio-content">
			<h2>ことぶつえん運営者のユウマシンによるラジオトーク</h2>
			<p>nomizunoとシンタケウチの２人で</p>
			<p>ことぶつえんに投稿された言葉について</p>
			<p>緩いトークを交わしています。</p>
			<p>収録はきまぐれです。</p>
			<p>眠れぬ夜のお供に。</p>
		</div>

		<div class = "radio-list">
			<div>
			<%= link_to("Back Number ▷","https://radiotalk.jp/program/11933",class:"",:target=>["_blank"]) %>
			</div>
		</div>

 </div>
</div>
