<div class="main top-main">
  <div class="top-wrapper">
  	
    <div class="top-message">
      <h2>ことばが変われば、世界も変わる</h2>
      <h1>ことぶつえん</h1>
    
    <div class="top-search">
        <h4>とりあえず、ことばを調べる</h4>
        <%= form_tag '/posts/index', :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] ,placeholder: '例）人生', class:'search-box'%>
          <%= submit_tag "検索", :name => nil , class:'search-btn'%>
        </p>
        <% end %>
    </div>

  </div>


  </div>
</div>
