<div class="main top-main">
  <div class="top-wrapper">

    <div class="top-message">
      <h2>ことばが変われば、世界も変わる</h2>
      <h1>ことぶつえん</h1>

    <div class="top-search">
        <h4>とりあえず、ことばを調べる</h4>
        <%= form_tag '/posts/index', :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] ,placeholder: '例）人生', class:'search-box'%>
          <%= submit_tag "検索", :name => nil , class:'search-btn'%>
        </p>
        <% end %>
    </div>

  </div>
<div class="down-to">
  <div class="down-btn"><span><i class="fas fa-angle-double-down"></i></span></div>
  </div>
  <script>
  $('.down-btn').on('click', function(){
    var aboutposition = $('.top-about-main').offset().top - 46
    $("html,body").animate({scrollTop:aboutposition});
  });
  </script>
  </div>

<div class = "top-about-main">
  <div class = "about-top" >
    <h1>ことぶつえんとは</h1>
    <h2>  ことばの新しい意味を</br>
      みんなで考える辞書アプリです。</h2>

  </div>

  <div class = "about-contents">

    <div class = "about-content">
      <p>あの子が言った「ありがとう」は</p>
      <p>「さよなら」の意味でした。</p>
    </div>

    <div class = "about-content">
      <p>上司に言われた「無礼講」は</p>
      <p>「礼儀を持った上で場を盛りあげろ」の意味でした。</p>
    </div>


    <div class = "about-content">
      <p>彼の言う「お金」は</p>
      <p>「挑戦を支えてくれるもの」の意味でした。</p>
    </div>

    <div class = "about-content">
      <p>どうやら言葉の意味ってやつは</p>
      <p>一つではないようなのです。</p>
      <p>野山のように、生き物のように</p>
      <p>かたちを変えながら僕たちの生活を彩ります。</p>
    </div>

    <div class = "about-content">
      <p>そんな生きている言葉たちを</p>
      <p>「ことぶつ（言物）」と呼んでみました。</p>
      <p>ことぶつえんにはたくさんのことぶつがいます</p>
      <p>みなさんの力をかりて、「ことぶつ」たちに</p>
      <p>新しい命(意味)を吹き込んでいきたいのです。</p>
    </div>


    <div class = "about-content">
      <p>そのうち、言葉で溢れた僕らの世界も</p>
      <p>少しずつかたちを変えて、</p>
      <p>もっと自由で優しく、わくわくするものに
      <p>なるのではないでしょうか。</p>
    </div>

    <div class = "about-content">
      <p>よかったら僕たちと言葉について考えてみませんか。</p>
    </div>

  </div>

    <div class = "about-message">
      <h2>言葉が変われば、世界も変わる</h2>
      <h1>ようこそ、ことぶつえんへ</h1>
    </div>
　　
    <div class = "about-end">
      <img src="/assets/enter-0b4de992cf7a18862b6e4e0af7d28e26664fe553d004170c2f589fb6d77b6184.png" class = "enter">
     </div>

    <div class = "about-link">
     <%= link_to("ことぶつに会いにいく","/posts/index") %>
    </div>

  </div>
</div>
