<div class="main top-main">
  <div class="top-wrapper">

    <div class="top-message">
      <h2>ことばが変われば、世界も変わる</h2>
      <h1>ことぶつえん</h1>

    <div class="top-search">
        <h4>とりあえず、ことばを調べる</h4>
        <%= form_tag '/posts/index', :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] ,placeholder: '例）人生', class:'search-box'%>
          <%= submit_tag "検索", :name => nil , class:'search-btn'%>
        </p>
        <% end %>
    </div>

  </div>
<div class="down-to">
  <div class="down-btn"><span><i class="fas fa-angle-double-down"></i></span></div>
  </div>
  <script>
  $('.down-btn').on('click', function(){
    var aboutposition = $('.top-about-main').offset().top - 46
    $("html,body").animate({scrollTop:aboutposition});
  });
  </script>
  </div>

<div class = "top-about-main">
  <div class = "about-top" >
    <h1>ことぶつえんとは</h1>
    <h2>動物みたいな言葉たち＝ことぶつ(言物)<br>が生息しています。</h2>
  </div>

  <div class = "about-contents">

    <div class = "about-content">
      <p>人間や動物たちが生きているように、言葉たちも生きています。</p>
      <p>新しい言葉が生まれ、使われなくなった言葉が忘れ去られ、</p>
      <p>言葉の意味も日々刻々と変化します。</p>
    </div>

    <div class = "about-content">
      <p>生きているからこそ、言葉は多様な意味を持ちます。</p>
      <p>そして、その意味は使う人、受け取る人によっても変わります。</p>
    </div>


    <div class = "about-content">
      <p>そんな生きた言葉を『ことぶつ(言物)』と、呼ぶことにしました。</p>
      <p>ことぶつえんには、多くの『言物』がいます。</p>
    </div>

    <div class = "about-content">
      <p>色んな『言物』に触れることで、言葉に対する印象が変わり、</p>
      <p>そして、言葉で溢れたこの世界の見方も変わるんじゃないでしょうか。</p>
      <p>僕たちはそう信じています。</p>
      <p>よかったら一緒に”ことば”について考えてみませんか。</p>
    </div>
  </div>

    <div class = "about-message">
      <h2>言葉が変われば、世界も変わる</h2>
      <h1>ようこそ、ことぶつえんへ</h1>
    </div>
　　
    <div class = "about-end">
      <img src="/assets/enter-0b4de992cf7a18862b6e4e0af7d28e26664fe553d004170c2f589fb6d77b6184.png" class = "enter">
     </div>

    <div class = "about-link">
     <%= link_to("ことぶつに会いにいく","/posts/index") %>
    </div>

  </div>
</div>
