<div class = "main radio-page">
	<div class="container">
	<div class = "radio-top" >
		<h1>ユウマシンラジオ</h1>
	</div>

	<div class = "radio-contents">
		<div class = "radio-content">
			<h2>ことぶつえん運営者の</br>ユウマシンによるラジオトーク</h2>
			<p>nomizunoとシンタケウチの２人で</p>
			<p>ことぶつえんに投稿された言葉について</p>
			<p>緩いトークを交わしています。</p>
			<p>収録はきまぐれです。</p>
			<p>眠れぬ夜のお供に。</p>
		</div>

		<div class = "radio-list">
			<div>
			<%= link_to("Back Number ▷","https://radiotalk.jp/program/11933",class:"",:target=>["_blank"]) %>
			</div>
		</div>

		<div class = "radio-top" >
			<h1>ことぶつえん</br>ストーリー</h1>
		</div>

		<div class = "radio-contents">
			<div class = "radio-content">
				<h2>「ことば」をテーマにした</br>ショートストーリー</h2>
				<p>ことぶつえんに投稿された</br>ことばをモチーフに、</p>
				<p>短い物語を書いています。</p>
				<p>ことばの解釈でちょこっと変化する</br>景色みたいなのを描きたいです。</p>
			</div>
		</div>

		<div class = "radio-list">
			<div>
			<%= link_to("Back Number ▷","https://note.mu/nomizuno/m/m1e6dae3c9cdc",class:"",:target=>["_blank"]) %>
			</div>
		</div>

  </div>
</div>
