// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* posts/new ================================ */
.posts-new{
	.container{
		text-align: center;
		.form{
			.form-body{
				margin-top:30px;
				.form-error{
				}
				p{
					font-size: 30px;
					line-height:50px;
					display:inline-block;
				}
				.read{font-size: 22px;}
				input{
					width:70%;
					border-style:none;
					line-height: 50px;
					font-size: 30px;
					border:solid 1px black;
					margin-bottom:20px;
				}
				.submit-btn{
					font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif; font-weight: bold;
					width:90%;
					margin-top:10px;
					font-size:25px;
					background-color:rgba(104,210,42,0.81);
					border:none;
					color:black;
				}
			}
		}
		.Induction{
			width:100%;
			margin-top:30px;
			a{
				border-bottom: solid 2px rgba(104,210,42,0.81);
				padding-bottom:5px;
				font-size:20px;
				&:hover{
					color:rgba(104,210,42,0.81);
				}
			}
		}
	}
}
/* post/show ================================ */
.posts-show{
	.container{
		.posts-show-item{
			.post-word{
				margin-bottom:20px;
			}
			.posts-comments{
				max-width: 375px;
				word-wrap: break-word;
				.comment{
					font-size: 20px;
				}
				.post-like{
					nobr{
						font-size:10px;
						&:hover{
							cursor: pointer;
							color:rgba(104,210,42,0.81);
						}
					}
					.like_user{
						display: none;
					}
				}
			}
		}
		.page{}
		.comment-form{text-align: center;
			.form-body{
				textarea{
					margin-top:20px;
					font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif; font-weight: bold;
					outline-color:rgba(104,210,42,0.81);
					border-style: none;
					border:solid 1px black;
					resize: none;
				}
				input{
					font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif; font-weight: bold;
					width:90%;
					padding:10px 0px;
					border-style: none;
					margin-top:10px;
					background-color:rgba(104,210,42,0.81);
					border-radius: 4px;
					font-size:20px;
				}
			}
		}
		.Induction{
			width:100%;
			margin-top:30px;
			margin-bottom: 30px;
			text-align: center;
			a{
				border-bottom: solid 2px rgba(104,210,42,0.81);
				padding-bottom:5px;
				font-size:30px;
				&:hover{
					color:rgba(104,210,42,0.81);
				}
			}
		}
	}
}
.pagination{
	margin:20px 0px;
}
.page-item{
	display:inline-block;
}
.page-link{
	font-size:20px;
	padding:0px 5px;
}
.posts-show-item{

   max-width: 600px;
  margin: 0 auto;
  margin-top:60px;



  .post-word{
	  text-align:center;
	  h3{
		  font-size:20px;
		  line-height: 20px;
		  padding-bottom: 5px;
	  }
	  h2{
		  font-size:30px;
		  line-height: 30px;
	  }
  }

  .posts-comments{
    width:600px;

   padding: 0.2em 1em;
    margin: 0.1em 0;
    color: #232323;

    border-left: solid 10px rgba(104,210,42,0.81);

  }



}

.form-body{
	margin:0px;
}


.fa-angle-double-down{
   size:7x;
}



.page {
  text-align: center;
  width:auto;
}




/* post/index ================================ */
.posts-index{
	.container{
		padding-top:70px;
		.user-tabs{
			margin-bottom: 20px;
			li{
				display: inline-block;
				margin:0px 7px;
			}
			a{
				font-size:17px;
				line-height: 30px;
			}
		}
		.posts-index-item{
			padding: 0.2em 1em;
			margin: 0.1em 0;
			color: #232323;
			border-left: solid 10px rgba(104,210,42,0.81);
			.user-right{

			}
		}
		#index{
			width:18%;
			display: inline-block;
			.posts-index-item{
			padding: 0.2em 0em;
			margin: 0.1em 0;
			border-left: solid 10px rgba(104,210,42,0.81);
				&:hover{
					color:red;
					border-left: solid 10px red;
				}
			}
		}
	}
}
/* いいね!ボタン =================================== */


.like-btn {
  color: red;
}

.like-btn-unlike {
  color: gray;
}
.delete_comment{
	margin-left:30px;
	font-size:12px;
	&:hover{
		color:red;
	}
}

/* ▼タブレット用デザインとして付け足すデザイン ================================ */
@media all and (min-width:768px){
/* posts/new ================================ */
.posts-new{
	.container{
		.form{
			.form-body{
				.form-error{
				}
				p{
				}
				input{
				}
				.submit-btn{
					transition:0.5s;
					&:hover{
						background-color:rgba(29,153,115,1.00);
					}
				}
			}
		}
		.Induction{
		}
	}
}
/* post/show ================================ */
.posts-show{
	.container{
		.posts-show-item{
			.post-word{
			}
			.posts-comments{
				max-width: 600px;
				.post-like{}
			}
		}
		.page{}
		.comment-form{
			.form-body{
				textarea{
				}
				input{
				}
			}
		}
		.Induction{
			a{
				&:hover{
				}
			}
		}
	}
}
}
/* ▼PC用デザインとして付け足すデザイン ================================ */
@media all and (min-width:920px){

}
