<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが変更されているよ！<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスが変更されたよ！ <%= @resource.email %>.</p>
<% end %>
