<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するリクエストがあったよ！ 下のリンクから変更できます！</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしリクエストを送っていなかったらこのメールは無視してね！</p>
<p>上のリンクをクリックして新しいパスワードを保存しなければ変更はされませんので！</p>
