
<!--ニュースここから-->
  <!-- <div class="news">
      <p>NEWS</p>
      <ul class="news-list">
        <li>
          <%= link_to("ユウマシンラジオ#5「秋」の良さ","https://radiotalk.jp/talk/59804",class:"",:target=>["_blank"]) %>
        </li>
        <li>
          <%= link_to("次回の言葉「失敗」","/posts/7",class:"") %>
        </li>
        <li>
          <%= link_to("Back Number ▷","/radio") %>
        </li>
      </ul>
    </div> -->
    <!--ニュースここまで-->
